body {
    margin: 0;
    font-family: Nunito Sans;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header {
    background-color: #131313;
    font-size: 11px;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.button-transparent {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #FFFFFF;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 47px;

}

.header-navigation_link {
    text-decoration: none;
    color: white;

}

.header-navigation_phone-number {
    color: #E3B873;  
    padding-left: 67px;  
}

.header-navigation_home {
    text-decoration: none;
    color: #E3B873;
}
.logo {
    color: #E3B873;
}

.hero {
    background-image: url(../images/Hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    max-width: 1250px;
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.selected-text {
    color: #E3B873;
}

.content {
    color: white;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

.completed-projects {
    background-color: black;
    font-size: 14px;
    line-height: 27px;
}

.projects {
    padding-left: 627px;
    display: flex;
    justify-content: space-between;
    padding-top: 107px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 57px;
}
.project-item {
    color: #E3B873;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
}

.project-item:active  {
    border-bottom: 1px solid  #E3B873;
}

.container-projects {
    max-width: 442px;
    height: 940px;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-navigation {
    color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin: 50px;
}

.gallery-navigation_item:hover {
    color: #FFFFFF;
}

.gallery-navigation_item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.description {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 157px;
}

.description-item_title {
    margin-bottom: 0px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.description-item {
    width: 220px;
    flex-direction: row;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.description-item_content {
    margin: 0px;
}

.online-control_title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
    color: #E3B873;
}

.online-control {
    margin-top: -300px;
}
.online-control_image {
    display:block;
    position: relative;
    margin:auto;
    filter: brightness(40%)
}

.dividing-strip {
    margin-top: 62.5px;
    width: 55px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
}

.online-control-content {
    width: 681px;
    margin: auto;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.input-name {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);

}

.feedback {
    text-align: center;
    margin-top: 93px;
}

.button-feedback {
    position: relative;
    left: 180px;
    margin-left: 100px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    width: 200px;
}

.label_input {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    position: absolute;
    }

.feedback-container {
    display: inline-block;
    position: relative;
    
}

.checkbox_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.checkbox::after {
    background-color: #E3B873;
    color: #FFFFFF;
}

.title_black {
    margin-top: 147px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.types_of_repair-block {
    width: 392px;
    display: inline-block;


}

.image-types_of_repair {
}

.subtitle_black {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-left: 31px;
    

}

.content-types_of_repair {
    width: 330px;
    margin-top: -127px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    /*не смогла подключить белый фон этим блокам*/
}

.content_types_of_repair-block {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.button-cost {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cost {

}
.container-advantages_application-form {
    display: flex;

}

.container-advantages {
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 703px;
    height: 645px;
    display: flex;
    flex-direction: column;
    margin-top: 230px;

}

.advantages-item {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.application_form-block {
    margin-top: 230px;
}
.application_form {
    margin-top: 59px;
    margin-left: 130px;
    margin-right: 100px;
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;

}

.application_form-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.application_form-input {
    margin-left: 49px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    background-color: #131313;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(246, 243, 243, 0.3);
}

.application_form-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 49px;
}

.checkbox_text-application_form {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 49px;
    margin-top: 10px;
}
.container-interior_styles {
    background: url(../images/interior-back.jpg);
    filter: brightness(50%);
    
}
.interior_styles-subtitle {
    
    padding-top: 50px;
    margin-left: 50px;
}

.interior_styles {
    list-style-type: none;



}
.interior_styles-item {
    text-decoration: none;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
}

.interior_styles-item:hover {
    color: #d28a0d;
    text-decoration: underline;
}

.interior_styles-item:active {
    color: #d28a0d;
    text-decoration: underline;
}  
